<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="form.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Create Bug</title>
</head>

<body id="bod">

    <h1>Create Bug</h1>
    <div class="jumbotron" id="container">
        <form id="createBug">
            <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="BugName">Name</label>

                    <span class="after">*</span>
                    <span style="font-size: small"><em>&nbsp;&nbsp;</em>{{30-bug.name.length}}  Characters left</span>
                    <input [(ngModel)]='bug.name' name='input1' type="text" class="form-control" id="bugName" maxlength="30">

                  </div>
                <div class="form-group col-md-6">
                    <label for="bugStatuses">Status</label>
                    <span class="after">*</span>
                    <select [(ngModel)]='bug.status' name='input2' id="Status" class="form-control" >
                      <option selected>Choose...</option>
                      <option value="NEW">NEW</option>
						          <option value="ASSIGNED">ASSIGNED</option>
					          	<option value="OPEN">OPEN</option>
						          <option value="CLOSED">CLOSED</option>
						          <option value="VERIFIED">VERIFIED</option>
						          <option value="DEFERRED">DEFERRED</option>
						          <option value="NOT_A_BUG">NOT_A_BUG</option>
					          	<option value="REOPEN">REOPEN</option>
						          <option value="RETEST">RETEST</option>
						          <option value="REJECTED">REJECTED</option>
						          <option value="PENDING_RETEST">PENDING_RETEST</option>
						          <option value="DUPLICATE">DUPLICATE</option>
					          	<option value="DEFECT">DEFECT</option>
						          <option value="WORK_IN_PROGRESS">WORK_IN_PROGRESS</option>
						          <option value="ISSUE">ISSUE</option>
						          <option value="FIXED">FIXED</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">

                    <label for="bugPriority">Priority</label>
                    <span class="after">*</span>
                    <select [(ngModel)]='bug.priority' placeholder= "Priority" class="form-control" >
                      <option value="">--Select--</option>
                     <option  value="HIGH" selected enabled>HIGH</option>
                      <option value="MEDIUM" >MEDIUM</option>
                      <option value="LOW">LOW</option>
                    </select>


                </div>
                <div class="form-group col-md-4">
                    <label for="severity">SEVERITY</label>
                    <select [(ngModel)]='bug.severity' name='input4' id="Severity" class="form-control">
                        <option selected>Choose...</option>
                        <option value="SEVERE">SEVERE</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="LOW">LOW</option>
                      </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="type">TYPE</label>
                    <select [(ngModel)]='bug.type' name='input5' id="Type" class="form-control">
                      <option selected>Choose...</option>
                      <option value="FUNCTIONAL">FUNCTIONAL</option>
                      <option value="LOOP">LOOP</option>
                      <option value="RUNTIME">RUNTIME</option>
                      <option value="OPERATIONAL">OPERATIONAL</option>
                    </select>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="date">Estimated Time</label>
                    <input [(ngModel)]='bug.eta' name='input7' type="date" class="form-control" id="date2">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mod">Module</label>
                    <input [(ngModel)]='bug.module' name='input8' type="text" class="form-control" id="module">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">

                      <label for="ProjectId">Project ID</label>

                      <span class="after">*</span>

                      <input [(ngModel)]='bug.projectId' name='input9' type="text" class="form-control" id="bugProjectid" >

                  </div>

                    </div>
            <div class="form-group">
                <div class="form-group col-md-5">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <span style="font-size: small"><em>&nbsp;&nbsp;</em>{{500-bug.description.length}}  Characters left</span>
                    <textarea [(ngModel)]='bug.description' name='input10' class="form-control" id="description" rows="3" maxlength="500"></textarea>

                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlTextarea2">Synopsis</label>
                    <span style="font-size: small"><em>&nbsp;&nbsp;</em>{{100-bug.synopsis.length}}  Characters left</span>
                    <textarea [(ngModel)]='bug.synopsis' name='input11' class="form-control" id="synopsis" rows="3" maxlength="100"></textarea>

                  </div>
            </div>
            </div>
        </form>

        <button (click)='saveBug()' class="btn btn-primary" type="submit">Submit</button>
    </div>
</body>
</html>
